.header {
  width: 100%;
  height: 6rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logoIcon {
  width: 3rem;
  height: 3rem;
  color: #f03e3e;
}

.logo h1 {
  font-size: 2.6rem;
}

.logo:hover {
  color: #f03e3e;
}

.navContainer {
  display: flex;
  gap: 2rem;
}

.navContainer a {
  text-decoration: none;
  color: #343a40;
  font-size: 1.8rem;
}

@media (max-width: 34rem) {
  .navContainer a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
